.container
  .card.diffused-shadow.m-t-1
    form(name='addPhoneForm').row
      .col.col-6-of-12.col-centered.text-center.m-b-3
        img.img-responsive(src="assets/images/nw_vertical_logo_tagline.png", alt="NIGHTWATCH logo" style="max-width:350px;")
        h4 Welcome Back!
        h5 Since this is your first time logging into your account let’s take a few minutes to help you set everything up. Let’s start with adding a phone to your account so you can receive notifications about your horse(s) and members of your group can contact you.
        .alert.danger.m-t-1(ng-show="phone.errorMessage == true")
          div(ng-repeat="error in phone.errors")
            span {{error.misc}}
        .alert.success.m-t-1(ng-show="phone.successMessage == true")
          span Phone successfuly added to your account
      .col.col-3-of-12.col-push-2-of-12
        label country
        p 
          select.stretch(ng-model="phone.code")
            //option(value="US") United States
            option(ng-repeat="country in phone.countries" value="{{country.code}}") {{country.name}} 
          
      .col.col-2-of-12
        label.required area code
        p 
          input.stretch(type="text" ng-model="phone.areaCode" required)
      
      .col.col-3-of-12
        label.required phone number
        p 
          input.stretch(type="text" ng-model="phone.number" required)
      
    .row
      .col.col-1-of-12.col-push-3-of-12.text-right
        input.m-r-1(type="checkbox" ng-model="agreeTOS")
      .col.col-5-of-12
        span Please #[a(href="#") read and agree to the terms] in order to enable notifications for this number.
      .col.col-4-of-12.col-push-2-of-12.m-t-2
        p
          button.btn.success-outline.stretch Finished adding phones
      
      .col.col-4-of-12.m-t-2
        p
          button.btn.success.stretch(ng-disabled="addPhoneForm.$invalid || !agreeTOS" ng-click="phone.addPhone()") Add Phone
