.container
  .card
    .row
      .col.col-6-of-12.col-centered.text-center.m-b-3
        h4 Welcome Back!
        h5 Since this is your first time logging into your account let’s take a few minutes to help you set everything up. Let’s start with adding a phone to your account so you can receive notifications about your horse(s) and members of your group can contact you.
      .col.col-3-of-12.col-push-3-of-12
        label phone number
        p 
          input.stretch(type="tel")
      .col.col-3-of-12.col-push-1-of-12
        label allow notifications?
        p 
          input(type="radio",value="yes",name="notifications") 
          span.m-r-1 Yes
          input(type="radio",value="no",name="notifications") 
          span No
    .row
      .col.col-1-of-12.col-push-3-of-12.text-right
        input.m-r-1(type="checkbox")
      .col.col-5-of-12
        span Please #[a(href="#") read and agree to the terms] in order to enable notifications for this number.
      .col.col-4-of-12.col-centered.m-t-2
        p
          button.btn.success.stretch Add Phone
