.container
  .card.diffused-shadow
    .row
      .col.col-8-of-12.col-centered.text-center.m-b-2
        img(src="/assets/images/nw_vertical_logo_tagline.png", alt="NIGHTWATCH logo" style="max-width:350px;")
        h4 What is your billing address?
      
      .col.col-6-of-12.col-centered.text-center.m-b-2
        input(type="checkbox" ng-model="sameAddress" ng-checked="true") 
        span.m-l-1 Same as primary address
    
    .row(ng-if="sameAddress === false")    
      .col.col-4-of-12.col-push-1-of-12
        label.required Address
        p 
          input.stretch(type="text")
      .col.col-3-of-12
        label Address 2
        p 
          input.stretch(type="text" placeholder="Optional") 
      .col.col-3-of-12
        label.required city
        p 
          input.stretch(type="text")
      .col.col-3-of-12.col-push-2-of-12
        label.required state/province
        p 
          select.stretch
            option Select One
      .col.col-3-of-12
        label.required Country
        p 
          select.stretch
            option Select One
      .col.col-2-of-12
        label.required postal code
        p 
          input.stretch(type="text") 
          
    .div
      .col.col-12-of-12.banner.m-b-1
        span CREDIT CARD INFORMATION (optional)
      .col.col-4-of-12
        label credit card number
        p 
          input.stretch(type="text") 
      .col.col-4-of-12
        label csc (check back of card)
        p 
          input.stretch(type="text") 
      .col.col-4-of-12
        label expiration date
        p 
          input.stretch(type="text") 
    .row   
      .col.col-4-of-12.col-centered.m-t-2
        p
          button.btn.success.stretch Save
