.container
  .card.diffused-shadow
    .row
      .col.col-8-of-12.col-centered.text-center
        .text-center
          img.img-responsive(src="/assets/images/nw_vertical_logo_tagline.png" alt="NIGHTWATCH logo" style="max-width:350px;")
        h4 Welcome to NIGHTWATCH™! 
        h5.m-b-3 The first step to using your NIGHTWATCH&trade; device is to create a username and provide an email so we can verify your account.
      .col.col-4-of-12.col-centered
        label create a username
        p 
          input.stretch(type="text",placeholder="Create Username")
      .col.col-4-of-12.col-centered
        label email addresss
        p 
          input.stretch(type="email",placeholder="Enter Email Address")
      .col.col-4-of-12.col-centered.m-t-2
        p
          button.btn.success.stretch create account
