.container
  .card.diffused-shadow
    .row
      .col.col-8-of-12.col-centered.text-center
        h4 Thank you for registering!
        h5.m-b-3 Please take a few minutes to create your user profile.
      .col.col-2-of-12.col-push-2-of-12
        label salutation
        p 
          input.stretch(type="text")
      .col.col-3-of-12
        label first name
        p 
          input.stretch(type="text")
      .col.col-3-of-12
        label last name
        p 
          input.stretch(type="text")
      .col.col-3-of-12.col-push-3-of-12
        label create password
        p 
          input.stretch(type="password")
      .col.col-3-of-12
        label confirm password
        p 
          input.stretch(type="password")    
      .col.col-4-of-12.col-centered.m-t-2
        p
          button.btn.success.stretch Save
