ng-include(src="'assets/partials/navbar.html'")

.container

    .card.horse-list
      .horse-header
        div
          span.nw-sort_icon 
          a(href="javascript:void(0)" ng-click="sortType = 'registered_name'; sortReverse = !sortReverse") NAME
        div
          span Sort By
        div.text-right
          span.nw-edi_icon 
          a(href="javascript:void(0)" ng-click="sortType = 'edi_score'; sortReverse = !sortReverse") EDI
      .spinner(ng-show="loading == true") 
        span Loading Horses
      .horse-row.fade(ng-repeat="horse in horses | orderBy:sortType:sortReverse" ng-click="getHorse(horse);$parent.setHorse(horse)" ng-show="horses.length >= 1")
        div(style="width:2.5rem")
          .avatar(style="background-image:url({{horse.thumbnail_url}})" ng-hide="horse.thumbnail_url === null")
          .avatar.nw-horse(ng-show="horse.thumbnail_url === null")
        div
          span(ng-bind="horse.registered_name")
          br
          span.text-muted(ng-repeat="device in horse.devices")
            div(ng-bind="device.serial_number")

          span.text-muted(ng-if="horse.devices.length === 0") No device assigned
        div.text-right
          div(ng-bind="horse.edi_score" ng-class="ediColor(horse)")
              
    .card.metrics
      h5.text-center(ng-show="!activeHorse") Select a horse to view its metrics
      div(ng-if="activeHorse")
          .metric-row
            div(style="width:2.5rem")
              .avatar(style="background-image:url({{activeHorse.thumbnail_url}})")
            div
              h3(ng-bind="activeHorse.registered_name")
            div.text-right
              span #[small Last Updated]
              br
              span(ng-bind="metrics.edi_score" ng-class="ediColor(horse)")
          .metric-row
            div.p-t-1
              hr
              span EDI&trade;
              span.nw-help
          
          .metric-row
            .gauge
              img(src="assets/images/neddle_1@2x.png", alt="gauge needle", style="transform: rotate({{activeHorse.edi_score * 18.0}}deg) scale(.65)")
            .gauge-edi.text-right
              div(ng-bind="activeHorse.edi_score" ng-class="ediColor(activeHorse)")
          
          .metric-header biometrics
          
          .metric-row.m-t-2
            .icon.text-center
              .nw-heart_rate.text-dark
              .text-tiny beats/min
            div
              .progress-bar
              .circle(ng-class="ediColor(activeHorse)" style="left:50%;")
                div(ng-bind="metrics.bio[0].heart_rate")
              .gray-bar(style="width:50%;left:50%;")
          
          .metric-row.m-t-1
            .icon.text-center
              .nw-respiratory_rate.text-dark
              .text-tiny breaths/min
            div
              .progress-bar
              .circle(ng-class="ediColor(activeHorse)")
                div(ng-bind="metrics.bio[0].respiratory_rate")
              .gray-bar
          
          .metric-header.m-t-1 behaviors
          
          .metric-row.m-t-1
            .icon.text-center
              .nw-rise_falls.text-dark
              .text-tiny times/min
            div
              .progress-bar
              .circle(ng-class="ediColor(activeHorse)")
                div(ng-bind="metrics.behavior[0].fall_rise_count")
              .gray-bar
              
          .metric-row.m-t-1
            .icon.text-center
              .nw-laying_down.text-dark
              .text-tiny times/day
            div
              .progress-bar
              .circle(ng-class="ediColor(activeHorse)")
                div(ng-bind="metrics.behavior[0].lying_time")
              .gray-bar
          
          .metric-row.m-t-1
            .icon.text-center
              .nw-rolls.text-dark
              .text-tiny times/day
            div
              .progress-bar
              .circle(ng-class="ediColor(activeHorse)")
                div(ng-bind="metrics.behavior[0].roll_count")
              .gray-bar

ng-include(ng-show="activeHorse" src="'./assets/partials/footerbar.html'")
