h4 Are you sure you want to remove this device?
hr
h3.m-b-1(ng-bind="device.whichDevice.nick_name")

strong Serial: 
span(ng-bind="device.whichDevice.serial_number")
hr
div.text-right
  button.btn.secondary.m-r-1(ng-click="$modal.close()") Cancel
  button.btn.danger(ng-click="device.removeDevice()") Remove
