ng-include(src="'assets/partials/navbar.html'")

.container

    .card
      p(ng-show="horse.loading == true") Loading Horses
      
      div.horse-row(ng-repeat="horse in horse.horses")
        div(style="width:2.5rem")
          .avatar(style="background-image:url({{horse.thumbnail_url}})")
        div
          span(ng-bind="horse.registered_name")
          br
          span.text-muted(ng-repeat="device in horse.devices")
            div(ng-bind="device.serial_number")

          span.text-muted(ng-if="horse.devices.length === 0") No device assigned
        div.text-right
          div(ng-bind="horse.edi_score" ng-class="ediColor(horse)")
      
