.container
  .card
    .row
      .col.col-6-of-12.col-push-3-of-12
        label username
        p 
          input.stretch(type="text",placeholder="Enter Username")
      .col.col-6-of-12.col-push-3-of-12
        label Password
        p 
          input.stretch(type="password",placeholder="Enter Password")
      .col.col-6-of-12.col-centered
        p
          button.btn.primary.stretch login
        p
          button.btn.success.stretch Sign Up
