.container
  .card.diffused-shadow
    form.row(ng-model="loginForm" name="loginForm" ng-submit="login.login()")
      .col.col-6-of-12.col-push-3-of-12    
        p.text-center
          img.img-responsive(src="assets/images/nw_vertical_logo_tagline.png" alt="NIGHTWATCH logo" style="max-width:350px;")
          p
            .spinner(ng-show="loggingIn === true") 
              span Logging In...
            .alert.success(ng-show="user.username") User successfully logged in as {{user.username}}
            .alert.danger.text-center(ng-show="invalidPassword === true" ng-model="message") Username and password don't match
            
        label.required username
        p 
          input.stretch(type="text",ng-model="login.username" placeholder="Enter Username" required)
      .col.col-6-of-12.col-push-3-of-12
        label.required Password
        p 
          input.stretch(type="password", ng-model="login.password" placeholder="Enter Password" required)
      .col.col-6-of-12.col-centered
        p
          input.btn.primary.stretch(type="submit" ng-disabled="loginForm.$invalid" value="login")
        
    .row
      .col.col-6-of-12.col-centered
        p
          a.btn.success.stretch(href="/#/register") Register
