ng-include(src="'assets/partials/navbar.html'")

.container
  .col.col-4-of-12
    .card.clearfix
      // Add Devices
      h4 Add User
      hr.m-b-1
      p
        label.required username
        input.stretch(type="text")
          
      p
        label.required role  
        select.stretch(id="role")
          option(value="manager") Manager
          option(value="caretaker") Caretaker
      p
        label.required first name
        input.stretch(type="text")
          
      p
        label.required last name
        input.stretch(type="text")
      
      p
        label.required phone
        input.stretch(type="text")
          
      p
        label email address
        input.stretch(type="text")

      div
        button.btn.success.stretch(ng-click="showUserForm()") Add User

      
    // List my users
  .spinner.m-t-1(ng-show="users.loading == true")
    span &nbsp; Loading Devices
  .alert.success.m-t-1.fade(ng-show="users.message.status === true" ng-bind="device.message.text")
  .alert.danger.m-t-1.fade(ng-show="users.message.status === 'error'")
    span(ng-bind="device.message.text")
    
  .col.col-4-of-12
    .card
      .text-right.text-small
        a.nw-pencil.m-r-1
        a.nw-cross
      
      h4 John Doe
      hr
      div
        span.nw-phone 
        span (415) 432 - 4532
      .m-t-1
        span.nw-envelope 
        a(href="") jDoe@gmail.com
      
  .col.col-4-of-12
    .card
      .text-right.text-small
        a.nw-pencil.m-r-1
        a.nw-cross
      
      h4 Jane Smith
      hr
      div
        span.nw-phone 
        span (415) 222 - 5711
      .m-t-1
        span.nw-envelope 
        a(href="") jSmith@gmail.com
