
<div class="grid-container">
  <div class="grid-block align-center wrap v-align">
    <div class="grid-block medium-3 small-12 align-center">
      <img class="circle" src="http://fillmurray.com/150/150" style="margin:3rem 0;">
    </div>
    <div class="grid-block medium-3 small-12 align-center">
      <a href="#" class="button hollow">Change Profile Image</a>
    </div>




  <div class="grid-block wrap">
    <form-input class="grid-content small-12 medium-6" label="First Name" value="John"></form-input>
    <form-input class="grid-content small-12 medium-6" label="Last Name" value="Smith"></form-input>

    <div class="grid-content small-12 medium-6">
      <label for="account-type">Account Type</label>
      <select>
        <option value="owner">Owner</option>
        <option value="manager">Manager</option>
        <option value="caretaker">Caretaker</option>
      </select>
    </div>
    <div class="grid-content medium-6">
      <label>Username</label>
      <input type="text" readonly value="jSmith612">
    </div>
  </div>
</div>

<div class="grid-block wrap">

  <h3 class="medium-12 card-section">Address</h3>


    <h4 class="grid-content small-12">Mailing Address</h4>
    <form-input class="grid-content small-12 medium-6" value="45 Shoshone Drive" label="Address"></form-input>
    <form-input class="grid-content small-12 medium-6" value="" label="Address2"></form-input>
    <form-input class="grid-content small-12 medium-6" value="Calistoga" label="City"></form-input>
    <form-input class="grid-content small-12 medium-6" value="29076" label="Postal Code"></form-input>
    <div class="grid-content small-12 medium-6">
      <label for="state">Country</label>
      <select name="state" id="state"></select>
    </div>
    <div class="grid-content small-12 medium-6">
      <label for="state">State / Province</label>
      <select name="state" id="state">
        <option ng-repeat="state in states" value="{{key}}">{{state}}</option>
      </select>
    </div>
</div>

<hr>

<!-- Phones -->
<div class="grid-block wrap">

  <h3 class="small-12 card-section">Phone Numbers</h3>

  <div class="grid content small-12 medium-6 card-section">
    <h4>Primary Phone</h4>
    <form-input value="(612) 333 - 2612"></form-input>
    <label for="primary-phone-type">Phone Type</label>
    <select>
      <option value="mobile">Mobile</option>
      <option value="home">Home</option>
      <option value="work">Work</option>
    </select>
    <label for="sms">Receive SMS Notifications</label>
    <div class="switch large">
      <input checked type="checkbox" id="switch-example">
      <label for="switch-example"></label>
    </div>
  </div>

  <div class="grid content small-12 medium-6 card-section">
    <h4>Secondary Phone</h4>
    <form-input value="(612) 453 - 3383"></form-input>
    <label for="secondary-phone-type">Phone Type</label>
    <select id="secondary-phone-type" name="secondary-phone-type">
      <option value="mobile">Mobile</option>
      <option selected="selected" value="home">Home</option>
      <option value="work">Work</option>
    </select>
    <label for="sms">Receive SMS Notifications</label>
      <div class="switch large">
        <input type="checkbox" id="secondary-sms">
        <label for="sms"></label>
      </div>
  </div> <!-- End Phone -->

  <div class="grid-content text-right">
    <a href="#" class="button secondary">Cancel</a>
    <a href="#" class="button primary">Save</a>
  </div>
</div>
</div>
