

input[type=submit],button {
  border: none;
  background: none;
  -webkit-appearance: none;
}

.btn {
  background: transparent;
  border-radius: 1rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 200;
  cursor: pointer;
  color: $primary;
  text-align: center;
  display: inline-block;

  &.text-small {
    font-size: .75rem;
  }

  &.text-tiny {
    font-size: .5rem;
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &.primary {
    background: $primary;
    color: $white;

    &:hover {
      background: darken($primary,10%);
    }
  }
  &.primary-outline {
    background: $white;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      background: darken($white,10%);
    }
  }

  &.success {
    background: $success;
    color: $white;

    &:hover {
      background: darken($success,10%);
    }
  }
  &.success-outline {
    background: $white;
    color: $success;
    border: 1px solid $success;

    &:hover {
      background: darken($white,10%);
    }
  }

  &.secondary {
    background: $light-gray;
    color: $white;
  }

  &.danger {
    background: $danger;
    color: $white;

    &:hover {
      background: darken($danger,10%);
    }
  }
}

.button-group {
  display: inline-block;

  > .btn {
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: .75rem;
  }

  > .btn:first-of-type {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  > .btn:last-of-type {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  > .btn.active {
    background: $primary;
    color: $white;
  }
}
