h1,h2,h3,h4,h5 { margin: 0; }

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  color: $black;
}

h5 {
  font-size: .875rem;
  font-weight: 400;
  color: $medium-gray;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul li {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.text-muted {
  color: $medium-gray;
}
