$white : rgba(255,255,255,.85);
$black : rgba(0,0,0,.75);

$primary: #1371A1;
$dark : #003B71;
$success : #4EB14D;
$danger : #D0021B;
$medium-gray: rgba(0,0,0,.5);
$light-gray: rgba(0,0,0,.3);

$border-radius: 4px;
